<!DOCTYPE html>
<html lang="en">

<head>
	<title>Smart Coin </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
		integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/equipments.css">
	<!--===============================================================================================-->


	<!--==================================== J S ======================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<!--======================================= Calendar ==============================================-->
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


</head>

<body onload="loadingDelay();">


	<nav class="navbar sticky-top nav1" style="z-index: 999;">
		<div class="container ">
			<ul class="nav1_ul">
				<li class="nav1_li">
					<a href="/"> <img src="images/ic-smartcoin-logo@2x.png" class="ic_smartcoin_logo"> </a>
				</li>
				<li>
					<a href="/saleList">매출조회</a>
				</li>
				<li>
					<a href="/historyOfUses" >사용내역</a>
				</li>
				<li>
					<a href="/equipments">장비관리</a>
				</li>
				<li>
					<a href="/issueStatus">발급현황</a>
				</li>
			</ul>
			<a href="#" class="nav_href_text"><%= reqSessionName %></a>
			<button class="nav_button" onClick="location.href='/api/logout'">로그아웃</button>
		</div>
	</nav>


	<nav class="navbar sticky-top nav2" style="z-index: 998;">
		<div class="container ">

			<div style="float: left;">
				<ul>
					<li>
						<div class="form-group fg--search">
							<input type="text" class="input" id="searchData" placeholder="디바이스 ID 또는 상태"
								value="<%= searchData %>">
							<button type="submit" onclick="search();"><i class="fa fa-search"></i></button>
						</div>
					</li>
					<li>
						<select id="searchOrder" class="selectpicker selectbox" data-style="btn-info" id="sel1">
							<option value="timeStampOrder" <%= searchOrder == "timeStampOrder" ? "selected" : ""   %>> 최근사용 순</option>
							<option value="regDateOrder" <%= searchOrder == "regDateOrder" ? "selected" : ""   %>> 상태 순</option>
					
							</option>
						</select>
					</li>
				</ul>
			</div>


			<div style="float: right;">
				<ul>
					<li>
						<button type="submit" class="nav2_ul_li_button" id="calendarbutton" onClick="search();"> 조회
						</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="loader">

	</div>


	<div id="LoadingWrapper" class="animate-bottom">

		<div class="container background_div" align="center" style="margin-top: 20px;">
			<table id="datasetTable" class="table datasetTable" style="" cellpadding="15">
				<%if(logObject.length === 0){ %>
				<tr scope="row" class="table_body_text">
					<td colspan="" style="vertical-align: middle; " align="center">
						<!-- <H5> No date result </H3> -->
						<img src="images/list/not_result.gif" />
					</td>
				</tr>
				<%} else { %>
				<thead>
					<tr class="table2_title_font">
						<td align="center" scope="col" style="border: 0;">NO</td>
						<td align="center" scope="col" style="border: 0;">디바이스 ID</td>
						<td align="center" scope="col" style="border: 0; width:30%">장비명</td>
						<td align="center" scope="col" style="border: 0;">상태</td>
						<td align="center" scope="col" style="border: 0;">최근사용</td>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i < logObject.length ; i++) { %>
					<tr scope="row" class="table_body_text">
						<td align="center" style="vertical-align: middle; "> <%= logObject[i].rowNumber %> </td>
						<td align="center" style="vertical-align: middle;"> <%= logObject[i].uid %> </td>
						<td align="center" style="vertical-align: middle;">  </td>
						<td align="center" style="vertical-align: middle;">
							<span class="dot-active"></span> &nbsp; 작동중
						</td>
						<td align="center" style="vertical-align: middle;"> <%= logObject[i].timestampFormat %> </td>

					</tr>
					<% } %>
					<tr
						style="border-radius: 10px;background-color: #eaeeef; padding-bottom:5px; margin-bottom:5px; height:46px !important;">
						<td colspan="6" align="center" class="mouse_cursor" onClick="moreView();"> + 더보기 </td>
					</tr>
				</tbody>

				<% } %>
			</table>
		</div>
	</div>


	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->

	<script>
		$(document).ready(function () {
			alert("아직 준비중입니다. 조금만 기달려주세요.");
		})

		let searchData = document.querySelector('#searchData');
		// let searchData = '';
		let searchOrder = document.querySelector('#searchOrder');

		let delay; //This is for Loading animation

		function loadingDelay() {
			delay = setTimeout(showPage, 800);
		}

		function showPage() {
			document.getElementById("loader").style.display = "none";
			document.getElementById("LoadingWrapper").style.display = "block";
		}

		function search() {
			currentPageLimit = <%= pageLimit %>;
			location.href = "/equipments?pageLimit=" + currentPageLimit + "&searchData=" + searchData.value + "&searchOrder=" + searchOrder.value;
		}

		function moreView() {
			currentPageLimit = <%= pageLimit %> + 10;
			location.href = "/equipments?pageLimit=" + currentPageLimit + "&searchData=" + searchData.value + "&searchOrder=" + searchOrder.value;
		}




	</script>

</body>

</html>